<style>
  {% include css/components.carousel.css %}
</style>

<section class="[ band  band--large  band--tint ]  mb" id="section:carousel" data-ui-component="Quotes carousel">

<div class="carousel">

  <ul class="carousel__panes">

    <li class="carousel__pane">
      <blockquote class="pull-quote  pull-quote--banner">
        <p>Sonia’s motto <b>"Knowing is not enough, we must apply"</b> is deeply reflected 
          in her work which is almost always nothing short of fantastic, and a real eye-opener, 
          helping teams level up their protocol development skills. I'm constantly left learning 
          something new from workshops or technical talks. I can’t recommend her enough.</p>
        <b class="pull-quote__source"><a href="">Lissa Aranda</a>, Web3 Enthusiast</b>
      </blockquote>
    </li>

    <li class="carousel__pane">
      <blockquote class="pull-quote  pull-quote--banner">
        <p>I worked with Sonia at PhotoMasters in the programming and backend department building
          photobots and other booking softwares. A diligent worker, dedicated and very particular 
          in her work where every project has a personal touch, a PhotoMasters trademark.</p>
        <b class="pull-quote__source"><a href="">Francis Kipchumba</a>, PhotoMasters</b>
      </blockquote>
    </li>

    <li class="carousel__pane">
      <blockquote class="pull-quote  pull-quote--banner">
        <p>Sonia is a well known geek and is always keen on taking on projects that challenge her.
          Her work with decentralized system is top quality and I whole-heartedly recommend working
          with her to build your distributed and decentralized systems.</p>
        <b class="pull-quote__source"><a href="">William Sharpe</a>Entrepreneur</b>
      </blockquote>
    </li>


  </ul>

</div>

</section>
