<nav class="site-nav">

    <a href="{{ site.baseurl }}/" class="site-nav__home-link">
        <div class="site-nav__logo" ></div>
    </a>

    <a href="#trigger:nav" class="site-nav__open">Menu</a>
    <a class="site-nav__target" id="trigger:nav"></a>

    <ul class="site-nav__list">
      <li class="site-nav__item  site-nav__item--close"><a href="#0" class="site-nav__link site-nav__close">Close</a></li>
      <li class="site-nav__item"><a href="/" class="site-nav__link site-nav__home">Home</a></li>
      <li class="site-nav__item"><a href="/portfolio" class="site-nav__link  site-nav__services">Portfolio</a>
        <ul class="site-nav__sub-menu">
          <li class="site-nav__item"><a href="/portfolio/development.html" class="site-nav__sub-link  site-nav__consultancy"> Systems Development</a></li>
          <li class="site-nav__item"><a href="/portfolio/speaking.html" class="site-nav__sub-link  site-nav__speaking">Speaking</a></li>
          <li class="site-nav__item"><a href="/portfolio/workshops.html" class="site-nav__sub-link  site-nav__workshops">Workshops and Training</a></li>
        </ul>
      </li>
      <li class="site-nav__item"> <a href="" class="site-nav__link  site-nav__services">Blog</a></li>
      <li class="site-nav__item"> <a href="/resume" class="site-nav__link  site-nav__services">Resume</a></li>
      <li class="site-nav__item"><a href="" class="site-nav__link site-nav__contact">Contact</a></li>
    </ul>

</nav>
