<section class="[ band  band--highlight ]  promo">

  <div class="wrapper  wrapper--wide">

    <ul class="layout  layout--large">

      <li class="layout__item  desk-one-third">

        <h2 class="heading">Systems Development</h2>
        <p>As developer I contribute to the full life cycle of the 
          blockchain applications utilizing various programming languages 
          to create interfaces, features, and architecture for different 
          purposes. I work with IPFS & Blockchain protocols.</p>

      <li class="layout__item  lap-and-up-one-half  desk-one-third">

        <h2 class="heading">Speaking</h2>
        <p>Speaking about Decentralized & Distributed systems is my way of 
          sharing my knowledge with development teams and groups using manually 
          curated content presented the most legitimate and excellent ways to 
          keep attendees informed on this fast-moving space. 
        </p>

      <li class="layout__item  lap-and-up-one-half  desk-one-third">

        <h2 class="heading">Workshops</h2> 
        <p>Offering continuous education opportunities by hosting individuals, 
          groups or clients at workshops and training events where I teach and 
          train any number of people how to write, design and build better, more 
          scalable decentralized systems on decentralized protocols.</p>

      <li class="layout__item">
        <p class="promo__links">
          <a href="/portfolio" class="btn  btn--secondary">Learn more <span class="hide">about my services</span></a>
        </p>

    </ul>

  </div>

</section>

