<li>
  <h4 class="list-ui__title">Workshop</h4>
  <img data-src="/img/icons/hr.png" alt="" width="16" height="11" /> <a href="https://www.meetup.com/Afroynk/events/261642906/">IPFS Meetup</a>, Nairobi, (Kenya) June 2019

  <h4 class="list-ui__title">Attending</h4>
  <img data-src="/img/icons/hr.png" alt="" width="16" height="11" /> <a href="http://afrolynk.com/">Afrolynk Conference</a>, Berlin, (Germany) September 2019

  <h4 class="list-ui__title">Attending</h4>
  <img data-src="/img/icons/hr.png" alt="" width="16" height="11" /> <a href="https://maltablockchainsummit.com/events/ai-bc-summit-winter-edition/">AI & Blockchain Summit</a>, Malta, (Malta) November 2019
</li>

