<p>Hi there, I’m Sonia aka realchainʕ •ᴥ•ʔ. I am an independent <b>Bot & Protocol Developer</b>, <b>writer</b> and <b>speaker</b> from the Africa. I <a href="/blog/archive/">write</a>, <a href="https://twitter.com/realchainlife">tweet</a>, <a href="/blog/speaking/">speak</a> and <a href="http://github.com/realchainlife">share code</a> about building decentralized systems. We can <a href="/contact/">work together</a>.

<p><a href="https://twitter.com/realchainlife" class="twitter-follow-button" data-show-count="true" data-lang="en">Follow @realchainlife</a></p>

<h4>Projects</h4>

{% if page.page-class == "page--home" %}
  {% assign image-ext = "-home" %}
{% else %}
  {% assign image-ext = null %}
{% endif %}

<ul class="[ list-ui  list-ui--small ]  mb">
  <li><a href="http://playmakerchain.com">PlayMaker Chain ⚽️</a> – Coming Soon…</li>
  <li><a href="http://factory24.org">Afrolynk Factory24 📈</a> – here now …</li>
  <li><a href="http://realchainlife.github.io/workshops">Nairobi IPFS</a> – Here Now! </li>
</ul>

<h4>Next Appearance</h4>

<ul class="list-ui  list-ui--small">

  {% include speaking.html %}

</ul>
